<div class="message" data-session="<%= session[:user_id] %>">
  <% user = User.find_by(id: message.from_id) %>
  <div class="<%= message.id %>" id="message_sender"><%= user.name %></div>
  <div class="<%= message.id %>" id="message_content"><%= simple_format(h(message.content), {}, wrapper_tag: "div") %></div>
  <div class="<%= message.id %>" id="message_date"><%= message.created_at.strftime('%m/%d %H:%M') %></div>
  <script>
    var from_id = <%= message.from_id %>;
    var current_user_id = $('.message').data('session');
    if(from_id == current_user_id) {
      $('div.' + <%= message.id %>).css({'text-align': 'right', 'margin-left': '30px'});
    } else {
      $('div.' + <%= message.id %>).css({'text-align': "left", 'margin-right': "30px"});
    }
  </script>
</div>
