<div class="container">
  <div class="search-hamburger-open-btn">
    <i class="fa fa-chevron-right"></i>モデル検索画面を開く
  </div>
  <div class="find-users">
    <div class="search-hamburger-close-btn">
      <i class="fa fa-chevron-left"></i>モデル検索画面を閉じる
    </div>
    <div class="search-form-inner">
      <div class="search-alert-text">
        <div>※選択した<u>全ての条件に一致するモデル</u>が、検索結果に表示されます。</div>
        <div>全ての条件を空白で検索すると、全モデルが表示されます。</div>
      </div>

      <%= search_form_for @search do |f| %>
        <div class="row">
          <div class="form-group col-xs-4">
            <%= f.label :name_cont, "名前" %>
            <% if params_present?(:name_cont) %>
              <%= f.text_field :name_cont, value: params[:q][:name_cont], class: "form-control" %>
            <% else %>
              <%= f.text_field :name_cont, class: "form-control input-lg" %>
            <% end %>
          </div>
          <div class="form-group col-xs-4">
            <%= f.label :sex, "性別" %>
            <% if params_present?(:sex_eq) %>
              <%= f.select :sex_eq, options_for_select(User.sexes, selected: params[:q][:sex_eq]), {include_blank: true}, {class: "form-control input-lg"} %>
            <% else %>
              <%= f.select :sex_eq, options_for_select(User.sexes), {include_blank: true}, {class: "form-control input-lg"} %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-4">
            <div class="">
              <%= f.label :age, "年齢" %>
              <% if params_present?(:age_eq) %>
                <%= f.select :age_eq, options_for_select(User.ages, selected: params[:q][:age_eq]), {include_blank: true}, {class: "form-control input-lg"} %>
              <% else %>
                <%= f.select :age_eq, options_for_select(User.ages), {include_blank: true}, {class: "form-control input-lg"} %>
              <% end %>
            </div>
          </div>
          <script>
            $(function() {
              $('#q_prefecture_id_eq').change(function() {
                var prefecture_id = $("#q_prefecture_id_eq").val();
                if (prefecture_id !== "") {
                  $.get("<%= prefectures_areas_path %>",
                    { prefecture_id: prefecture_id },
                    function(data){ }
                  );
                }
              });
            });
          </script>
          <div class="form-group col-xs-4">
            <%= f.label :prefecture_id, "都道府県" %>
            <% if params_present?(:prefecture_id_eq) %>
              <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {selected: params[:q][:prefecture_id_eq], include_blank: true}, class: 'form-control input-lg fix-input-lg'%>
            <% else %>
              <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: true}, class: 'form-control input-lg fix-input-lg'%>
            <% end %>
          </div>
          <div class="form-group col-xs-4">
            <%= f.label :area_id, "市町村区" %>
            <% if params_present?(:area_id_eq) %>
              <%= f.collection_select :area_id_eq, Area.all, :id, :name, {selected: params[:q][:area_id_eq], include_blank: true}, class: 'form-control input-lg fix-input-lg' %>
            <% else %>
              <%= f.collection_select :area_id_eq, Area.all, :id, :name, {include_blank: true}, class: 'form-control input-lg fix-input-lg' %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="search-element-label">施術可能なオプション</div>
          <div class="checkbox-inline-block">
            <%= f.check_box :color_eq , {class: "my_check", id: "my_check_01"}, checked_value = "true", unchecked_value = "" %>
            <%= f.label :color, "カラー", for: "my_check_01" %>
          </div>
          <div class="checkbox-inline-block">
            <%= f.check_box :hair_extension_eq , {class: "my_check", id: "my_check_02"}, checked_value = "true", unchecked_value = "" %>
            <%= f.label :hair_extension, "エクステ", for: "my_check_02" %>
          </div>
          <div class="checkbox-inline-block">
            <%= f.check_box :hair_permed_eq , {class: "my_check", id: "my_check_03"}, checked_value = "true", unchecked_value = "" %>
            <%= f.label :hair_permed, "パーマ", for: "my_check_03" %>
          </div>
          <div class="checkbox-inline-block">
            <%= f.check_box :nail_eq , {class: "my_check", id: "my_check_04"}, checked_value = "true", unchecked_value = "" %>
            <%= f.label :nail, "ネイル", for: "my_check_04" %>
          </div>
          <div class="checkbox-inline-block">
            <%= f.check_box :use_eq , {class: "my_check", id: "my_check_05"}, checked_value = "true", unchecked_value = "" %>
            <%= f.label :use, "広告利用", for: "my_check_05" %>
          </div>
        </div>
        <div class="row">
          <div class="search-element-label">現在の髪型</div>
          <div class="checkbox-inline-block">
            <%= f.check_box :user_hair_style_very_short_eq, {class: "my_check", id: "my_check_06"}, true, "" %>
            <%= f.label :user_hair_style_very_short_eq,  "ベリーショート" , for: "my_check_06" %>
          </div>
          <div class="checkbox-inline-block">
            <%= f.check_box :user_hair_style_short_eq, {class: "my_check", id: "my_check_08"}, true, '' %>
            <%= f.label :user_hair_style_short_eq, "ショート", for: "my_check_08" %>
          </div>
          <div class="checkbox-inline-block">
            <%= f.check_box :user_hair_style_medium_eq , {class: "my_check", id: "my_check_10"}, true, '' %>
            <%= f.label :user_hair_style_medium_eq, "ミディアム", for: "my_check_10" %>
          </div>
          <div class="checkbox-inline-block">
            <%= f.check_box :user_hair_style_semi_long_eq , {class: "my_check", id: "my_check_12"}, true, '' %>
            <%= f.label :user_hair_style_semi_long_eq, "セミロング", for: "my_check_12" %>
          </div>
          <div class="checkbox-inline-block">
            <%= f.check_box :user_hair_style_long_eq , {class: "my_check", id: "my_check_14"}, true, "" %>
            <%= f.label :user_hair_style_long_eq, "ロング", for: "my_check_14" %>
          </div>
        </div>
        <div class="row">
          <div class="search-element-label">現在の髪質</div>
          <div class="checkbox-inline-block">
            <%= f.check_box :user_hair_type_straight_eq, {class: "my_check", id: "my_check_16"}, true, "" %>
            <%= f.label :user_hair_type_straight_eq, "直毛", for: "my_check_16" %>
          </div>
          <div class="checkbox-inline-block">
            <%= f.check_box :user_hair_type_rather_curly_eq , {class: "my_check", id: "my_check_18"}, true, "" %>
            <%= f.label :user_hair_type_rather_curly_eq, "ややクセ毛", for: "my_check_18" %>
          </div>
          <div class="checkbox-inline-block">
            <%= f.check_box :user_hair_type_curly_eq , {class: "my_check", id: "my_check_20"}, true, "" %>
            <%= f.label :user_hair_type_curly_eq, "クセ毛", for: "my_check_20" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="clear-btn", class="form-control btn btn-default">条件をリセット</div>
          </div>
          <div class="actions col-md-6">
            <%= f.submit "上記の条件で検索", class: "btn btn-primary form-control" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
