<li class="user-item col-md-4 col-sm-6">
  <% if user.thumbnails.present? %>
    <div><%= link_to image_tag(user.thumbnails[0].image_url), user_path(user) %></div>
  <% else %>
    <div><%= link_to image_tag('/no-image.png', class: "no-image"), user_path(user) %></div>
  <% end %>
  <div class="user-info"><%= user.sex %>/<%= user.prefecture.name %><%= user.area.name %></div>
  <div class="">最終ログイン:<%= user.last_accessed_at %></div>


  <% if false %>
    <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>
</li>
