<% provide(:title, "Edit user") %>
<h1>個人設定画面</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="row user-edit-image">
        <div class="col-xs-6 col-xs-offset-3">
          <% if @user.image.present?  %>
            <%= cl_image_tag(@user.image_url, width: 300, height: 200, crop: :fill, class: 'user-image') %>
          <% else %>
            <%= image_tag '/no-image.png', class: "no-image"%>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :name, "お名前/ニックネーム" %>
          <%= f.text_field :name, class: 'form-control input-lg' %>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="control-label form-align-left">
            <%= f.label :birth, "生年月日" %>
          </div>
          <div class="form-inline hidden-sp">
            <%= raw sprintf(
              f.date_select(
                :birth,
                {
                  start_year: 1951,
                  end_year: Time.zone.now.year,
                  default: Time.zone.now.ago(25.years),
                  use_two_digit_numbers: true,
                  date_separator: '%s'
                },
                { class: 'form-control input-lg' }
              ),
              '年 ', '月 ') + '日'
            %>
          </div>
          <div class="form-inline visible-sp">
            <%= raw sprintf(
              f.date_select(
                :birth,
                {
                  start_year: 1951,
                  end_year: Time.zone.now.year,
                  default: Time.zone.now.ago(25.years),
                  use_two_digit_numbers: true
                },
                { class: 'input-lg col-sm-4 col-xs-4 birth-form-sp' }
              )
              )
            %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="control-label">
            <%= f.label :sex, "性別" %>
          </div>
          <div class="radio-inline">
            <%= f.radio_button :sex, "女性", id: "radio01" %>
            <label for="radio01" class="radio">女性</label>
          </div>
          <div class="radio-inline">
            <%= f.radio_button :sex, "男性", id: "radio02" %>
            <label for="radio02" class="radio">男性</label>
          </div>

        </div>

      </div>
      <script>
        $(function() {
          $('#user_prefecture_id').change(function() {
            var prefecture_id = $("#user_prefecture_id").val();
            if (prefecture_id !== "") {
              $.get("<%= prefectures_areas_path %>",
                { prefecture_id: prefecture_id },
                function(data){ }
              );
            }
          });
        });
      </script>

      <div class="row">
        <div class="form-group">
          <div class="control-label form-align-left">
            <%= f.label :image, "写真（髪型がわかるように正面から）" %>
          </div>
          <%= f.file_field :image, id: "user_img", class: "form-control input-lg" %>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <%= f.label :prefecture_id, "都道府県" %>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: 'form-control input-lg fix-input-lg' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <%= f.label :area_id, "市区町村" %>
          <%= f.collection_select :area_id, Area.all, :id, :name, {}, class: 'form-control input-lg fix-input-lg' %>
        </div>
      </div>

      <% if @user.staff == false %>
        <div class="row">
          <div class="form-group">
            <div class="control-label">
              <%= f.label :hair_style, "現在の髪型" %>
            </div>
            <%= f.radio_button :hair_style, "ベリーショート", id: "radio03-1" %>
            <label for="radio03-1" class="radio">ベリーショート</label>
            <%= f.radio_button :hair_style, "ショート", id: "radio03-2" %>
            <label for="radio03-2" class="radio">ショート</label>
            <%= f.radio_button :hair_style, "ミディアム", id: "radio04" %>
            <label for="radio04" class="radio">ミディアム</label>
            <%= f.radio_button :hair_style, "セミロング", id: "radio05" %>
            <label for="radio05" class="radio">セミロング</label>
            <%= f.radio_button :hair_style, "ロング", id: "radio06" %>
            <label for="radio06" class="radio">ロング</label>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="control-label">
              <%= f.label :hair_type, "髪質" %>
            </div>
            <%= f.radio_button :hair_type, "直毛", id: "radio07" %>
            <label for="radio07" class="radio">直毛</label>
            <%= f.radio_button :hair_type, "ややクセ毛", id: "radio08" %>
            <label for="radio08" class="radio">ややクセ毛</label>
            <%= f.radio_button :hair_type, "クセ毛", id: "radio09" %>
            <label for="radio09" class="radio">クセ毛</label>
          </div>
        </div>

        <div class="row options-label">
          施術可能なオプション
        </div>
        <div class="row user-form-options">
          <div class="form-group">
            <%= f.check_box(:color, {id: "checkbox01"}) %>
            <label for="checkbox01" class="checkbox">カラー</label>
            <%= f.check_box(:hair_extension, {id: "checkbox02"}) %>
            <label for="checkbox02" class="checkbox">エクステ</label>
            <%= f.check_box(:hair_permed, {id: "checkbox03"}) %>
            <label for="checkbox03" class="checkbox">パーマ</label>
            <%= f.check_box(:nail, {id: "checkbox04"}) %>
            <label for="checkbox04" class="checkbox">ネイル</label>
          </div>
        </div>
        <div class="row">
          <div class="form-group form-align-left">
            <%= f.check_box(:use, {id: "checkbox05"}) %>
            <label for="checkbox05" class="checkbox">撮影/宣伝利用</label>
            <div>※美容院/美容師の宣伝用の使用を許可する</div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="form-group">
            <div class="control-label form-align-left">
              <%= f.label :experience, "美容師歴" %>
            </div>
            <%= f.select :experience, options_for_select(User.experiences), {include_blank: true}, class: "form-control input-lg" %>
            もしくは
            <div class="control-label form-align-left">
              <%= f.label :qualification, "美容師免許取得時期(予定)" %>
            </div>
            <div class="form-inline">
              <%= f.date_select(
                :qualification, {
                  start_year: Time.now.year,
                  end_year:   (Time.now.year + 5),
                  default:    Date.new(1989, 1, 1),
                  discard_day: true,
                  include_blank: true
                },
                {class: "form-control input-lg fix-input-lg"})
              %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="form-group">
          <div class="control-label">
            <%= f.label :email, "メールアドレス" %>
          </div>
          <%= f.email_field :email, class: 'form-control input-lg' %>
        </div>
      </div>
      <div class="row">
        <%= f.submit "変更する", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="row">
      パスワードの再設定は<%= link_to "こちら", change_password_user_path %>
    </div>
  </div>
</div>
