<h1>新規会員登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>


      <div class="form-group">
        <%= f.label :birth, "生年月日" %>
        <span class="required">※必須</span>
        <%= raw sprintf(
          f.date_select(
            :birth,
            {
              start_year:     Time.zone.now.prev_year.year,
              end_year:       Time.zone.now.next_year.year,
              default:        Time.zone.now,
              use_two_digit_numbers: true,
              date_separator: '%s'
            },
            { class: 'form-control' }
          ),
          '年 ', '月 ') + '日'
        %>
      </div>

      <div class="form-check form-check-inline">
        <%= f.label :sex, "性別" %>
        <span class="required">※必須</span>
        <%= f.radio_button :sex, "女性" %>女性
        <%= f.radio_button :sex, "男性" %>男性
      </div>

      <script>
        $(function() {
          $('#user_prefecture_id').change(function() {
            var prefecture_id = $("#user_prefecture_id").val();
            if (prefecture_id !== "") {
              $.get("<%= prefectures_areas_path %>",
                { prefecture_id: prefecture_id },
                function(data){ }
              );
            }
          });
        });
      </script>

      <div class="">
        <%= f.fields_for :thumbnails do |thumbnail| %>
          <%= thumbnail.file_field :image %>
        <% end %>
      </div>

      <div class="form-check form-check-inline">
        <%= f.label :prefecture_id, "住まい" %>
        <span class="required">※必須</span>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: 'form-control' %>
      </div>

      <div class="form-check form-check-inline">
        <%= f.label :area_id, "住まい" %>
        <span class="required">※必須</span>
        <%= f.collection_select :area_id, Area.all, :id, :name, {}, class: 'form-control' %>
      </div>


      <div class="form-check form-check-inline">
        <%= f.label :hair_style, "髪型" %>
        <%= f.radio_button :hair_style, "ベリーショート" %>ベリーショート
        <%= f.radio_button :hair_style, "ショート" %>ショート
        <%= f.radio_button :hair_style, "ミディアム" %>ミディアム
        <%= f.radio_button :hair_style, "セミロング" %>セミロング
        <%= f.radio_button :hair_style, "ロング" %>ロング
      </div>

      <div class="form-check form-check-inline">
        <%= f.label :hair_type, "髪質" %>
        <%= f.radio_button :hair_type, "直毛" %>直毛
        <%= f.radio_button :hair_type, "ややクセ毛" %>ややクセ毛
        <%= f.radio_button :hair_type, "強いクセ毛" %>強いクセ毛
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <%= f.label :color, "カラー可否" %>
          <%= f.check_box(:color, {:checked=> false}, "可能", "不可能") %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :hair_extension, "エクステ可否" %>
          <%= f.check_box(:hair_extension, {:checked=> false}, "可能", "不可能") %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :reason, "理由" %>
          <%= f.radio_button :reason, "単なる節約のため" %>単なる節約のため
          <%= f.radio_button :reason, "モデルを目指しているため" %>モデルを目指しているため
        </div>
      </div>


      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
