<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4 col-xs-4">
    <% if @user.thumbnails.count > 0 %>

      <div id="test-carousel" class="carousel slide" data-ride="carousel" data-interval="6000">

        <!-- 何枚目かの画像かを表すインディケーター -->
        <ol class="carousel-indicators">
          <li data-target="#test-carousel" data-slide-to="0" class="active"></li>
          <% unless @user.thumbnails[1].nil? %>
            <li data-target="#test-carousel" data-slide-to="1" class=""></li>
          <% end %>
          <% unless @user.thumbnails[2].nil? %>
            <li data-target="#test-carousel" data-slide-to="2" class=""></li>
          <% end %>
        </ol>

        <!-- 実際の画像の表示処理 -->
        <div class="carousel-inner">
          <div class="item active">    <!-- activeをつけたものがページ表示時に表示される -->
            <%= cl_image_tag(@user.thumbnails[0].image_url(:thumbnail), :width => 300, :height => 300) %>

          </div>
          <% unless @user.thumbnails[1].nil? %>
            <div class="item">
              <%= image_tag @user.thumbnails[1].image_url(:thumbnail), class: "carousel-thumbnail" %>
            </div>
          <% end %>
          <% unless @user.thumbnails[2].nil? %>
            <div class="item">
              <%= image_tag @user.thumbnails[2].image_url(:thumbnail), class: "carousel-thumbnail" %>
            </div>
          <% end %>
        </div>
        <% unless @user.thumbnails[1].nil? %>
          <!-- 前の画像へ戻るための矢印ポインタ -->
          <a class="left carousel-control" href="#test-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <!-- 次の画像へ進むための矢印ポインタ -->
          <a class="right carousel-control" href="#test-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        <% end %>
      </div>
    <% else %>
      <%= image_tag '/no-image.png', class: "no-image"%>
    <% end %>


    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if logged_in? %>

  </aside>

  <div class="col-md-8 col-xs-8">
    <div class="user-info-detail">
      <div>ユーザー名</div>
      <div><%= @user.name %></div>
      <div>トーク履歴</div>
      <div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">美容師名</th>
                <th scope="col">最新のやりとり日</th>
              </tr>
            </thead>
            <tbody>
              <% @message_users.zip(@messages_history).each do |u, m| %>
                <tr>
                  <td><%= link_to u.name, user_path(u) %></td>
                  <td><%= m.created_at_to_date %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <% if !current_user?(@user) && logged_in? && ((@user.staff == false && current_user.staff == true) || (current_user.staff == false && @user.staff == true))  %>
      <section class="message_box">
        <div id="messages">
          <%= render @messages %>
        </div>
      </section>
      <script type="text/javascript">
        var height = 0;
        $("div.message").each( function() {
          height += ($(this).height());
        });
        $('section.message_box').scrollTop(height);
      </script>
      <div class="message_form">
       <%= render 'messages/message_form',
         {from_user: current_user, to_user: @user, room_id: @room_id} %>
      </div>
    </div>

  <% end %>

</div>
