<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-4">
    <div class="user-edit-image col-xs-4 col-md-12">
      <% if @user.image.present?  %>
        <%= cl_image_tag(@user.image_url, width: 300, height: 200, crop: :fill, class: 'user-image') %>
      <% else %>
        <%= image_tag '/no-image.png', class: "no-image"%>
      <% end %>
      <div><%= @user.name %></div>
      最終ログイン: <%= @user.last_accessed_at %>
      <div><%= link_to "プロフィールの編集", edit_user_path(@user) %></div>
    </div>
    <div class="col-xs-7 col-xs-offset-1 col-md-12 col-md-offset-0">
      <div class=""><%= @user.prefecture.name %> <%= @user.area.name %></div>
      <% if !@user.staff %>
        <% if @user.user_hair_style.present? %>
          <% if @user.user_hair_style.very_short? %>
            <div class="user-tag">ベリーショート</div>
          <% end %>
          <% if @user.user_hair_style.short? %>
            <div class="user-tag">ショート</div>
          <% end %>
          <% if @user.user_hair_style.medium? %>
            <div class="user-tag">ミディアム</div>
          <% end %>
          <% if @user.user_hair_style.semi_long? %>
            <div class="user-tag">セミロング</div>
          <% end %>
          <% if @user.user_hair_style.long? %>
            <div class="user-tag">ロング</div>
          <% end %>
        <% end %>
        <% if @user.user_hair_type.present? %>
          <% if @user.user_hair_type.straight? %>
            <div class="user-tag">直毛</div>
          <% end %>
          <% if @user.user_hair_type.rather_curly? %>
            <div class="user-tag">ややクセ毛</div>
          <% end %>
          <% if @user.user_hair_type.curly? %>
            <div class="user-tag">クセ毛</div>
          <% end %>
        <% end %>
      <% end %>
      <% if @user.hair_permed? %>
        <div class="user-tag">パーマ</div>
      <% end %>
      <% if @user.hair_extension? %>
        <div class="user-tag">エクステ</div>
      <% end %>
      <% if @user.color? %>
        <div class="user-tag">カラー</div>
      <% end %>
      <% if @user.nail? %>
        <div class="user-tag">ネイル</div>
      <% end %>
      <% if @user.use? %>
        <div class="user-tag">広告利用</div>
      <% end %>
      <% if @user.experience.present? %>
        <div>美容師歴</div>
        <%= @user.experience %>
      <% elsif @user.qualification.present? %>
        <div>美容師免許取得時期</div>
        <%= @user.qualification %>
      <% end %>

      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <%= render 'follow_form' if logged_in? %>
    </div>
    <div class="col-xs-12">
    <div class="post-table alt-table-responsive">
    <% if @user.staff %>
      <table class="table">

        <thead>
          投稿履歴
          <tr>
            <th class="col-xs-6">投稿タイトル</th>
            <th class="col-xs-3">投稿日</th>
            <th class="col-xs-3">応募数</th>
          </tr>
        </thead>
        <tbody>
          <% @user.microposts.each do |post| %>
            <tr>
              <td><%= link_to post.title, micropost_path(post) %></td>
              <td><%= post.created_at_to_date %></td>
              <td><%= post.applies.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
</div>
  <div class="col-xs-12 col-md-8">
    <% if !current_user?(@user) && logged_in? && ((@user.staff == false && current_user.staff == true) || (current_user.staff == false && @user.staff == true))  %>
      <section class="message_box">
        <div id="messages">
          <%= render @messages %>
        </div>
      </section>
      <script type="text/javascript">
        var height = 0;
        $("div.message").each( function() {
          height += ($(this).height());
        });
        $('section.message_box').scrollTop(height);
      </script>
      <div class="message_form">
       <%= render 'messages/message_form',
         {from_user: current_user, to_user: @user, room_id: @room_id} %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <% if current_user?(@user) %>
    <div class="col-md-6">
      <div class="user-info-detail">
        <table class="table">
          <div>トーク履歴</div>
          <thead>
            <tr>
              <th scope="col">美容師名</th>
              <th scope="col">最終やりとり日</th>
            </tr>
          </thead>
          <tbody>
            <% @message_users.zip(@messages_history).each do |u, m| %>
              <tr>
                <td><%= link_to u.name, user_path(u) %></td>
                <td><%= m.created_at_to_date %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if !@user.staff? %>
      <div class="col-md-6">
        <div class="user-info-detail">
          <div>応募履歴</div>
          <div>
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col-xs-7">応募投稿のタイトル</th>
                    <th scope="col-xs-2">投稿者</th>
                    <th scope="col-xs-3">応募日</th>
                  </tr>
                </thead>
                <tbody>
                  <% @user.applies.each do |apply| %>
                    <tr>
                      <td><%= link_to apply.micropost.title, micropost_path(apply.micropost) %></td>
                      <td><%= link_to apply.micropost.user.name, user_path(apply.micropost.user) %></td>
                      <td><%= apply.created_at_to_date %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
