<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-xs-4">
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if logged_in? %>
  </aside>
  <% if current_user?(@user) %>
    <div class="col-xs-9">
      <div class="user-info-detail">
        <div>トーク履歴</div>
        <div>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">美容師名</th>
                  <th scope="col">最終やりとり日</th>
                </tr>
              </thead>
              <tbody>
                <% @message_users.zip(@messages_history).each do |u, m| %>
                  <tr>
                    <td><%= link_to u.name, user_path(u) %></td>
                    <td><%= m.created_at_to_date %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <% if !current_user?(@user) && logged_in? && ((@user.staff == false && current_user.staff == true) || (current_user.staff == false && @user.staff == true))  %>
      <section class="message_box">
        <div id="messages">
          <%= render @messages %>
        </div>
      </section>
      <script type="text/javascript">
        var height = 0;
        $("div.message").each( function() {
          height += ($(this).height());
        });
        $('section.message_box').scrollTop(height);
      </script>
      <div class="message_form">
       <%= render 'messages/message_form',
         {from_user: current_user, to_user: @user, room_id: @room_id} %>
      </div>
    </div>

  <% end %>

</div>
