<h1>新規会員登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: staff_signup_path do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "お名前" %>
      <%= f.text_field :name, class: 'form-control' %>


      <div class="form-group">
        <%= f.label :birth, "生年月日" %>
        <span class="required">※必須</span>
        <%= raw sprintf(
          f.date_select(
            :birth,
            {
              start_year:     Time.zone.now.prev_year.year,
              end_year:       Time.zone.now.next_year.year,
              default:        Time.zone.now,
              use_two_digit_numbers: true,
              date_separator: '%s'
            },
            { class: 'form-control' }
          ),
          '年 ', '月 ') + '日'
        %>
      </div>

      <div class="form-check form-check-inline">
        <%= f.label :sex, "性別" %>
        <span class="required">※必須</span>
        <%= f.radio_button :sex, "女性" %>女性
        <%= f.radio_button :sex, "男性" %>男性
      </div>

      <script>
        $(function() {
          console.log("start");
          $('#user_prefecture_id').change(function() {
            var prefecture_id = $("#user_prefecture_id").val();
            if (prefecture_id !== "") {
              $.get("<%= prefectures_areas_path %>",
                { prefecture_id: prefecture_id },
                function(data){ }
              );
            }
          });
        });
      </script>

      <div class="form-check form-check-inline">
        <%= f.label :prefecture_id, "住まい" %>
        <span class="required">※必須</span>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: 'form-control' %>
      </div>

      <div class="form-check form-check-inline">
        <%= f.label :area_id, "住まい" %>
        <span class="required">※必須</span>
        <%= f.collection_select :area_id, Area.all, :id, :name, {}, class: 'form-control' %>
      </div>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード（確認）" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "登録する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
