<div class="post-container post-index">
  <% if current_user.present? && current_user.staff == true %>
    <div class="row">
      <div class="col-md-4 post-btn">
        <%= link_to "投稿する", new_micropost_path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <% @microposts.each do |micropost| %>
      <div class="post-area col-md-5 col-md-offset-1 row">
        <div class="post-area-left col-xs-10 col-sm-8 col-lg-7">
          <div class="post-staff">
            <%= link_to micropost.user.name, user_path(micropost.user) %>
          </div>
          <div class="post-title">
            <%= micropost.title %>
          </div>
          <div class="post-tag">
            <% if micropost.color.present? %>
              <div class="post-tag-inner">
                カラー
              </div>
            <% end %>
            <% if micropost.hair_extension.present? %>
              <div class="post-tag-inner">
                エクステ
              </div>
            <% end %>
            <% if micropost.sex.present? %>
              <div class="post-tag-inner">
                <%= micropost.sex %>
              </div>
            <% end %>
            <% if micropost.free_cut.present? %>
              <div class="post-tag-inner">
                カット
              </div>
            <% end %>
            <% if micropost.transport_cost.present? %>
              <div class="post-tag-inner">
                交通費支給
              </div>
            <% end %>
            <% if micropost.hair_style.present? %>
              <div class="post-tag-inner">
                <%= micropost.hair_style %>
              </div>
            <% end %>
            <% if micropost.hair_type.present? %>
              <div class="post-tag-inner">
                <%= micropost.hair_type %>
              </div>
            <% end %>
            <% if micropost.nail.present? %>
              <div class="post-tag-inner">
                ネイル
              </div>
            <% end %>
          </div>
          <div class="post-address">
            <div class="post-address-text">
              <%= micropost.prefecture.name %> <%= micropost.area.name %>
            </div>
          </div>
          <div class="post-content">
            <%= micropost.content.truncate(20) %>
          </div>
        </div>
        <div class="post-area-right col-xs-2 col-sm-5 col-lg-4">

          <div class="">
            <%= link_to micropost_path(micropost), class: "visible-sp" do %>
              <i class="fa fa-chevron-right"></i>
            <% end %>
            <%= link_to "詳細はこちら", micropost_path(micropost), class: "btn btn-primary hidden-sp" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
