<h1>カットモデル募集投稿</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@micropost) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="row">
        <div class="form-group">
          <div class="control-label form-align-left">
            <%= f.label :title, "タイトル" %>
            <span class="required">※必須</span>
          </div>
          <%= f.text_field :title, class: 'form-control input-lg' %>
        </div>
      </div>

        <script>
          $(function() {
            $('#micropost_prefecture_id').change(function() {
              var prefecture_id = $("#micropost_prefecture_id").val();
              if (prefecture_id !== "") {
                $.get("<%= prefectures_areas_path %>",
                  { prefecture_id: prefecture_id },
                  function(data){ }
                );
              }
            });
          });
        </script>

        <div class="row">
          <div class="form-group">
            <div class="control-label form-align-left">
              <%= f.label :prefecture_id, "都道府県" %>
              <span class="required">※必須</span>
              <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {selected: 12}, class: 'form-control input-lg fix-input-lg' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="control-label form-align-left">
              <%= f.label :area_id, "市区町村" %>
              <span class="required">※必須</span>
            </div>
            <%= f.collection_select :area_id, Area.all, :id, :name, {selected: 176}, class: 'form-control input-lg fix-input-lg' %>
          </div>
        </div>
        <%= f.fields_for :post_tag, @micropost.post_tag || PostTag.new do |t| %>
          <div class="row">
            <div class="form-group">
              <div class="control-label form-align-left">
                募集する性別
              </div>
              <%= t.check_box(:women, {class: "my_check", id: "my_check_01"}) %>
              <label for="my_check_01">女性</label>
              <%= t.check_box(:mens, {class: "my_check", id: "my_check_02"}) %>
              <label for="my_check_02">男性</label>
            </div>
          </div>

          <div class="row">
            <div class="form-group form-align-left">

              <div class="control-label">
                募集する髪型
              </div>
              <%= t.check_box(:very_short, {id: "checkbox05"}) %>
              <label for="checkbox05" class="checkbox">ベリーショート</label>
              <%= t.check_box(:short, {id: "checkbox06"}) %>
              <label for="checkbox06" class="checkbox">ショート</label>
              <%= t.check_box(:medium, {id: "checkbox07"}) %>
              <label for="checkbox07" class="checkbox">ミディアム</label>
              <%= t.check_box(:semi_long, {id: "checkbox08"}) %>
              <label for="checkbox08" class="checkbox">セミロング</label>
              <%= t.check_box(:long, {id: "checkbox09"}) %>
              <label for="checkbox09" class="checkbox">ロング</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group form-align-left">
              <div class="control-label">
                <%= t.label :hair_type, "髪質" %>
              </div>
              <%= t.check_box(:straight, {id: "checkbox10"}) %>
              <label for="checkbox10" class="checkbox">直毛</label>
              <%= t.check_box(:rather_curly, {id: "checkbox11"}) %>
              <label for="checkbox11" class="checkbox">ややクセ毛</label>
              <%= t.check_box(:curly, {id: "checkbox12"}) %>
              <label for="checkbox12" class="checkbox">クセ毛</label>

            </div>
          </div>

        <div class="row">
          <div class="form-group">
            <%= t.check_box(:transport_cost, {id: "checkbox15"}) %>
            <label for="checkbox15" class="checkbox">交通費支給</label>
          </div>
        </div>
        <div class="row options-label form-align-left">
          希望オプション
        </div>
        <div class="row user-form-options">
          <div class="form-group form-align-left">
            <%= t.check_box(:cut, {id: "checkbox00"}) %>
            <label for="checkbox00" class="checkbox">カット</label>
            <%= t.check_box(:color, {id: "checkbox01"}) %>
            <label for="checkbox01" class="checkbox">カラー</label>
            <%= t.check_box(:hair_extension, {id: "checkbox02"}) %>
            <label for="checkbox02" class="checkbox">エクステ</label>
            <%= t.check_box(:nail, {id: "checkbox03"}) %>
            <label for="checkbox03" class="checkbox">ネイル</label>
            <%= t.check_box(:shampoo, {id: "checkbox04"}) %>
            <label for="checkbox04" class="checkbox">シャンプー</label>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="form-group">
          <div class="control-label form-align-left">
            <%= f.label :content, "内容" %>
            <span class="required">※必須</span>
          </div>
          <%= f.text_area :content, rows: 10 %>
        </div>
      </div>

      <%= f.submit "投稿する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
$(function() {
  $(document).on("keypress", "input:not(.allow_submit)", function(event) {
    return event.which !== 13;
  });
});
</script>
