<div class="row">
  <div class="post-area row post-area-height">
    <div class="post-area-left col-xs-8">
      <div class="post-staff">
        <%= link_to @micropost.user.name, user_path(@micropost.user) %>
      </div>
      <div class="post-title">
        <%= @micropost.title %>
      </div>
      <div class="post-tag">
        <% if @micropost.color.present? %>
          <div class="post-tag-inner">
            カラー
          </div>
        <% end %>
        <% if @micropost.hair_extension.present? %>
          <div class="post-tag-inner">
            エクステ
          </div>
        <% end %>
        <% if @micropost.sex.present? %>
          <div class="post-tag-inner">
            <%= @micropost.sex %>
          </div>
        <% end %>
        <% if @micropost.free_cut.present? %>
          <div class="post-tag-inner">
            カット
          </div>
        <% end %>
        <% if @micropost.transport_cost.present? %>
          <div class="post-tag-inner">
            交通費支給
          </div>
        <% end %>
        <% if @micropost.hair_style.present? %>
          <div class="post-tag-inner">
            <%= @micropost.hair_style %>
          </div>
        <% end %>
        <% if @micropost.hair_type.present? %>
          <div class="post-tag-inner">
            <%= @micropost.hair_type %>
          </div>
        <% end %>
        <% if @micropost.nail.present? %>
          <div class="post-tag-inner">
            ネイル
          </div>
        <% end %>
      </div>
      <div class="post-address">
        <div class="post-address-text">
          <%= @micropost.prefecture.name %> <%= @micropost.area.name %>
        </div>
      </div>
      <div class="post-content">
        <%= simple_format(h(@micropost.content)) %>
      </div>
    </div>
    <div class="post-area-right col-xs-4">
      <% if current_user.present? && current_user.staff == true %>
        <div class="post-applicant">応募者一覧</div>
        <% @applies.zip(@users).each do |apply, user| %>
          <div><%= link_to user.name, user_path(user) %></div>
          <div><%= apply.memo %></div>
        <% end %>
      <% elsif %>
        <div class="post-detail-btn">
          <%= link_to "応募する", new_micropost_apply_path(@micropost), class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
