<footer class="footer">
  <div class="footer-area">
        <div class="footer-item"><%= link_to "サービス概要", about_path %></div>
        <div class="footer-item"><%= link_to "お問い合わせ", contact_path %></div>
        <div class="footer-item"><%= link_to "利用規約", terms_path %></div>
        <div class="footer-item"><%= link_to "プライバシーポリシー", privacy_policy_path %></div>
        <div class="footer-item"><%= link_to "会社概要", "#" %></div>
        <div class="footer-item"><a href="#">News</a></div>
      </ul>
    </nav>
  </div>

</footer>
