<header>
  <div class="header-fix">
    <%= link_to "Hairiah", root_path, class: "logo visible-xl" %></span>
    <div class="hamburger-open-btn">
      <span class="logo">Hairiah</span>
      <i class="fa fa-chevron-down"></i>
    </div>
    <div class="hamburger-close-btn">
      <span class="logo">Hairiah</span>
      <i class="fa fa-chevron-up"></i>
    </div>
    <div  class="header-items">
      <div class="header-item"><%= link_to "Hairiahの使い方", "/#usage" %></div>
      <div class="header-item"><%= link_to "モデル募集掲示板", microposts_path %></div>
      <% if logged_in? %>
        <div class="header-item"><%= link_to "美容師を探す", staffs_path %></div>
        <% if current_user.staff? %>
          <div class="header-item"><%= link_to "カットモデルを探す", users_path %></div>
        <% end %>
        <div class="header-item"><%= link_to "マイページ", current_user %></div>
        <div class="header-item"><%= link_to "プロフィール編集", edit_user_path(current_user) %></div>
        <div class="header-item"><%= link_to "ログアウト", logout_path, method: :delete %></div>
      <% else %>
        <div class="header-item"><%= link_to "モデル会員登録", signup_page_path %></div>
        <div class="header-item"><%= link_to "美容師会員登録", staff_usage_path %></div>
        <div class="header-item"><%= link_to "ログイン", login_path %></div>
      <% end %>
    </div>
  </div>
  <div class="hamburger-menu">
    <%= link_to "ホーム", root_path, class: "header-item-hm" %>
    <div class="header-inner-border"></div>
    <%= link_to "/#usage", class: "header-item-hm" do %>
      Hairiahの使い方
    <% end %>
    <%= link_to  microposts_path, class: "header-item-hm" do %>
      モデル募集掲示板<i class="fa fa-list-alt hamburger-icon"></i>
    <% end %>
    <% if logged_in? %>
      <%= link_to staffs_path, class: "header-item-hm" do %>
        美容師を探す<i class="fa fa-search hamburger-icon"></i>
      <% end %>
      <% if current_user.staff? %>
        <%= link_to users_path, class: "header-item-hm" do %>
          カットモデルを探す<i class="fa fa-search hamburger-icon"></i>
        <% end %>
      <% end %>
      <%= link_to current_user, class: "header-item-hm" do %>
        マイページ<i class="fa fa-comments-o hamburger-icon"></i>
      <% end %>
      <%= link_to edit_user_path(current_user), class: "header-item-hm" do %>
        プロフィール編集<i class="fa fa-edit hamburger-icon"></i>
      <% end %>
      <%= link_to logout_path, method: :delete, class: "header-item-hm" do %>
        ログアウト<i class="fa fa-sign-out-alt hamburger-icon"></i>
      <% end %>
    <% else %>
      <%= link_to  signup_page_path, class: "header-item-hm" do %>
        モデル会員登録<i class="fa fa-id-badge hamburger-icon"></i>
      <% end %>
      <%= link_to staff_usage_path, class: "header-item-hm" do %>
        美容師会員登録<i class="fa fa-id-badge hamburger-icon"></i>
      <% end %>
      <%= link_to login_path, class: "header-item-hm" do %>
        ログイン<i class="fa fa-sign-out-alt hamburger-icon"></i>
      <% end %>
    <% end %>
  </div>
</header>
<script>
  $(function() {
    var offsetY = 0;
    var time = 500;
    $('a[href^="/#"]').click(function() {
      var target = $(this.hash);
      if (!target.length) return ;
      var targetY = target.offset().top+offsetY;
      $('html,body').animate({scrollTop: targetY}, time, 'swing');
      window.history.pushState(null, null, this.hash);
      return false;
    });
  });
</script>
